*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	color:#BD2123;
	size: 20px;
}
.menu{
	background: #BFBFBF;
	overflow: hidden;
}
.menu ul{
	list-style: none;
}

.menu ul li{
	float: left;
}

.menu ul li a{
	padding: 15px 20px;
	display: block;
	color:black;
    text-decoration:none;
    font-family: Arial;
} 
.menu ul li a:hover{
background: #5E5E5E;
}

footer{
	background: black;
	color:white;
	text-align:center;
	clear: both;
	padding: 10px 5px;
}